.col_customizada{
    background-color: #f0f5ff;
    border: 1px solid #e6e9ee;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
}

.col_direita{
    margin-left: 5px;
}
.col_esquerda{
    margin-right: 5px;
}